
body, html, #main {
    height: 100%;
    padding: 0; 
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    scroll-behavior: smooth;
  }
  
  
  .bgimg {
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  
  }
  #bgimg-0 {
    background-image: url("/static/background1.avif");
  }
  
  #bgimg-1 {
    background-image: url("/static/background2.avif");
  }
  
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption1 {
    position: absolute;
    left: 0;
    top: 58%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption2 {
    position: absolute;
    right: 0;
    top: 95%;
    width: 400px;
    text-align: center;
  }
  
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  .caption1 span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 30px "Lato", sans-serif;
    color: #111;
  }
  
  p{
  font-size: 18px;
  color: #111;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2e2d2d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  
  @media only screen and (max-device-width: 1024px) {
    .bgimg {
      background-attachment: scroll;
    }
  }
  .column {
    float: left;
    width: 50%;
    padding: 0px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

 .text {
    padding: 50px 80px;
    text-align: center;
 }

#chart {
  height: 100%;
  width: 100%;
}

 #chart-container {
  aspect-ratio: 2 / 1;
  max-height: 50vh;
  margin: auto;
  padding: 5vh 0;
 }