.modal {
    display: none;
    position: fixed;
    z-index: 1002;
    padding-top: calc((100vh - (100vw / 2)) / 2);
    padding-bottom: calc((100vh - (100vw / 2)) / 2);
    left: 0;
    top: 0;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

.modal-content {
    margin: auto;
    display: block;
    height: calc(100vw / 2);
    width: auto;
    max-width: 80vw;
    max-height: 100vh;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

img {
    display: inline-block;
}