<div style="height:0;width;0" id="top">
</div>
{% extends 'base.html' %}
{% block content %}

<div class="mainTextDiv">
<h2 class="mainTextTitle">Overview</h2>

<p class="mainText">

</p>

<img id="Img01" src="/static/csp.avif" alt="csp project" style="width:100%;max-width:300px;display: block;float: none;" onclick="modalOpen('01', false)">
<div id="Modal01" class="modal">
    <span class="close" onclick="modalClose('01')">&times;</span>
    <img class="modal-content" id="img01">
</div>

<br>
<br>

<h2 class="mainTextTitle">Code</h2>

<p class="mainText">

</p>
</div>

{% endblock %}