<div style="height:0;width;0" id="top">
</div>
{% extends 'base.html' %}
{% block content %}

<div class="mainTextDiv">
<h2 class="mainTextTitle">Battery</h2>

<p class="mainText">I build a 60v 33ah battery for this ebike</p>

<a href="/projects/batteries#60v_battery"><img src="/static/36v_battery.avif" alt="60v battery" style="width:100%;max-width:300px;display:block;float:none;"></a>

<br>
<br>

<h2 class="mainTextTitle">Motor Kit</h2>

<p class="mainText">

</p>

<h2 class="mainTextTitle">Building process</h2>

<p class="mainText">
    The batteries arrived on 9/13 and I spent about 2 weeks taking them apart, balaning them, and building the battery. I build the battery in a triangle shape so it would fit inside of a triangle frame bag in the middle of my bike frame. The motor installation was very easy compared to my v1 ebike and it took only around an hour. I finished building this bike on 9/28 and rode it to school the next day. I overheated the motor on 10/9 and bought a replacement motor and installed it on 10/23.
</p>

</div>

{% endblock %}