<div style="height:0;width;0" id="top">
</div>
{% extends 'base.html' %}
{% block content %}

<div class="mainTextDiv">
<h2 class="mainTextTitle">Battery Business</h2>

<p class="mainText">I started a custom Battery Manufacturing serice with my firend on Facebook Marketplace</p>

<a href="/projects/battery_business/zero"><img src="/static/2010_zero_s_battery.avif" alt="2010 Zero S battery" style="width:100%;max-width:300px;display:block;float:none;"></a>

<br>
<br>


<h2 class="mainTextTitle">2010 Zero S Motorcycle Battery Rebuild</h2>

<p class="mainText">
    The first build we did was the replacement of the original cells of the battery with 7 nissan leaf modules.
</p>

</div>

{% endblock %}