<div style="height:0;width;0" id="top">
</div>
{% extends 'base.html' %}
{% block content %}

<div class="mainTextDiv">
<p class="mainTextTitle" id="36v_battery">36v Battery</p>

<p class="mainText">
    I bought 50 4-cell modem battery packs for $37.50 total(¢18.75 per cell). These cells are LGDAS31865 cells which have a capacity of 2200mah.
</p>

<img id="Img01" src="/static/modem_battery.jpg" alt="36v battery" style="width:100%;max-width:300px;display: block;float: none;" onclick="modalOpen('01', false)">
<div id="Modal01" class="modal">
    <span class="close" onclick="modalClose('01')">&times;</span>
    <img class="modal-content" id="img01">
</div>

<p class="mainText">
    I connected these cells in a 10p15s configuation using a cheap spot welder from Amazon and nickel strips to get a 36v 33ah battery(1188wh). Then, I bought a cheap 30a 10s 36v bms off of AliExpress and connected it.
</p>


<img id="Img02" src="/static/36v_battery.jpg" alt="36v battery" style="width:100%;max-width:300px;display: block;float: none;" onclick="modalOpen('02', false)">
<div id="Modal02" class="modal">
    <span class="close" onclick="modalClose('02')">&times;</span>
    <img class="modal-content" id="img02">
</div>

<br>

<p class="mainTextTitle" id="60v_battery">60V Battery v1 and v2</p>

<p class="mainText">
    I bought 10 20-cell escooter battery packs for $210 total($1.05 per cell). These cells are EVEICR18650-26V cells which have a capacity of 2550mah and a max discharge rate if 7.65a.
</p>

<img id="Img03" src="/static/eve_batteries.jpg" alt="36v battery" style="width:100%;max-width:300px;display: block;float: none;" onclick="modalOpen('03', false)">
<div id="Modal03" class="modal">
    <span class="close" onclick="modalClose('03')">&times;</span>
    <img class="modal-content" id="img03">
</div>

<p class="mainText">
    I connected these cells in a 10p17s to get a 60v 33ah battery(1560.6wh) with a max discharge rate of 4.7Kw. For v1 of the battery I made it in a triangle shape to fit the frame of my v2.1 ebike.
</p>


<img id="Img04" src="/static/36v_battery.jpg" alt="36v battery" style="width:100%;max-width:300px;display: block;float: none;" onclick="modalOpen('04', false)">
<div id="Modal04" class="modal">
    <span class="close" onclick="modalClose('04')">&times;</span>
    <img class="modal-content" id="img04">
</div>

<p class="mainText">
  For v2 of the battery I dissasambled v1 of the battery for the cells. I then tested those 170 cells and a few more that i had lying around for a total of about 200 cells. I also replaced any damaged heat shrink on the batteries. I took 170 of the highest capacity cells and entered their capacity data into a tool called <a class="mainText" href="https://www.repackr.com/" target="_blank" title="rePackr">rePackr</a> to find the optimal configuation of the cells. This time I decided to make it a rectangle shape because I would use this for my v2.2 ebike and as a range extender for my v3 ebike.
</p>
<p class="mainText">
  For this v2 of this batttery, I used my new spot-weld-on terminals and also used cell holders to build it rather than hot gluing the cells together and soldering the terminals on top of the nickel strip that was already spot welded on.
</p>

<br>

<p class="mainTextTitle" id="72v_battery_0">72v LiFePO4 battery</p>


<p class="mainTextTitle" id="72v_battery_1">72v Commission battery</p>



<p class="mainText">
    This battery was a custom commission build for my friend's brother. It is a 72v 17.5ah(1260wh) battery in a 20s5p configuation that uses new Samsung INR18650-35E cells. It has a max discharge rate of 4680w and was designed to fit inside of a stealth bomber ebike frame.
</p>

<img id="Img06" src="/static/72v_battery_1.jpg" alt="72v battery 1" style="width:100%;max-width:300px;display: block;float: none;" onclick="modalOpen('06', false)">
<div id="Modal06" class="modal">
    <span class="close" onclick="modalClose('06')">&times;</span>
    <img class="modal-content" id="img06">
</div>

<p class="mainText">
  This battery included my latest building techniques including the cell spacers, 2p wide nickel strips, and spot-weld-on battery terminals.
</p>

</div>

{% endblock %}
