{% extends 'base.html' %}
{% block content %}
<style>
a.section_title {
    color: black;
    height: 32px;
    width: 100vw;
    padding-top: calc(5vh - 16px);
    padding-bottom: calc(5vh - 16px);
    font-size: 45px;
    overflow: hidden;
}

div.section_title {
    color: black;
    text-align: center;
    width: 100vw;
    height: 10vh;
    font-size: 45px;
}

@keyframes slideShow {
    
    5% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(calc(-100vw/ 3 * 2 - 16px));
    }
    55%{
        transform: translateX(calc(-100vw/ 3 * 2 - 16px));
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

.sliderContainer {
    width: calc(100vw/ 3 * 5 + 18px);
    height: 40vh;
    top: 0px;
    animation: 60s linear 0s infinite slideShow;
}

.slideItem {
    width: calc(100vw/ 3);
    height: 40vh;
    display: inline-flex;
    background-size: cover;
    background-position: center center;

}
</style>
<div class="section_title" id="top">
    <a href="/projects" class="section_title">Projects</a>
</div>

<div class="sliderContainer">
    <a href="/projects/ebike_v2">
        <div class="slideItem" style="background-image: url('/static/ebike_v2.avif');">
        
        </div>
    </a>
    
    <a href="/projects/ebike_v3">
        <div class="slideItem" style="background-image: url('/static/ebike_v3.jpg');">
    
        </div>
    </a>
    
    <a href="/projects/batteries">
        <div class="slideItem" style="background-image: url('/static/batteries.jpg');">
    
        </div>
    </a>
    
    <a href="/projects/kenya">
        <div class="slideItem" style="background-image: url('/static/kenya.jpg');">
    
        </div>
    </a>
    
    <a href="/projects/csp">
        <div class="slideItem" style="background-image: url('/static/csp.jpg');">
    
        </div>
    </a>

</div>

<div style="height:100vh" class="test">

</div>

<div class="section_title" id="about">
    <a class="section_title">About me</a>
</div>
{% endblock %}
