<div style="height:0;width;0" id="top">
</div>
{% extends 'base.html' %}
{% block content %}

<div class="mainTextDiv">
<h2 class="mainTextTitle">Overview</h2>

<p class="mainText">
    This was a project for my 10th grade history class where we made a dress that represented some aspect of a country that we were assigned. Our group was assigned Kenya and we decided to make it about batteries and new technologies because Kenya is home to mining for minerals and many new technologies.
    <br>
    I used 3 EVE ICR18650-26V connected in series to get roughly 9-12v to power an arduino and a small dc to dc converter for the LED strips and mini LED lights. The LED strips, in combination with an arduino and some mosfets, were run down on the bottom part of the dress and changed colors. We used the mini LED lights on the hat to light up the upper body and show the batteries, wires, and the electronics that control the lights.
</p>

<img id="Img01" src="/static/kenya.jpg" alt="kenya project" style="width:100%;max-width:300px;display: block;float: none;" onclick="modalOpen('01', false)">
<div id="Modal01" class="modal">
    <span class="close" onclick="modalClose('01')">&times;</span>
    <img class="modal-content" id="img01">
</div>

<br>
<br>

<h2 class="mainTextTitle">Code</h2>

<p class="mainText">

</p>

</div>

{% endblock %}