<div style="height:0;width;0" id="top">
</div>
{% extends 'base.html' %}
{% block content %}

<div class="mainTextDiv">
<h2 class="mainTextTitle">Battery</h2>

<p class="mainText">
    I build a 36v 22ah battery for this ebike
</p>

<a href="/projects/batteries#36v_battery"><img src="/static/36v_battery.jpg" alt="36v battery" style="width:100%;max-width:300px;display:block;float:none;"></a>

<br>
<br>

<h2 class="mainTextTitle">Motor Kit</h2>

<p class="mainText">

</p>

<h2 class="mainTextTitle">Building process</h2>

<p class="mainText">
    I build the bike and the battery in August 2022 and it took about a week(8/1-8/7). I also spent a lot of time fixing the motor alignment when I used this ebike.
</p>

</div>
{% endblock %}