
<div id="container"></div>
<canvas id="chart" style="max-width: 50vw; max-height: 50vh;"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>


<script>
years = [2015,2020,2030,2040,2050,2060,2070,2080,2090,2100]
colors = ['rgb(20,143,124)', 'rgb(24,47,84)', 'rgb(234,221,61)', 'rgb(222, 54, 42)', 'rgb(88,182,223)', 'rgb(231,128,28)', 'rgb(129,129,129)']
i = 0;
d = []
var chart = new Chart('chart', {
    type: 'line',
    data: {
      labels: years,
    },
    options : {
      scales: {
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'CO2'
          }
        }],
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'probability',
            ticks: {
                    maxRotation: 90,
                    minRotation: 90
                }
          }
        }]
      }
    }
});

function first(data) {
  d3.csv("/static/out.csv", function(data) {
    y = []
    for (x in years) {
      y.push(parseFloat(data[years[x]]))
    };
    const newDataset = {
        label: data['SCENARIO'], 
        data: y,
        fill: false,
        borderColor: colors[i],
        backgroundColor :colors[i],
        tension: 0.5
    };
    chart.data.datasets.push(newDataset);
    chart.update();
    i++;
})
};



first();



</script>