<!DOCTYPE html>
<div id="container"></div>
<canvas id="chart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>


<script>
  d3.csv("/static/out.csv", function(data) {
    makeChart(data);
});



function makeChart(players) {
  years = [2015, 2020, 2030,2040,2050,2060,2070,2080,2090,2100]
  d = []
  for (x in years) {
    d.push(players[years[x]])
  }

  var chart = new Chart('chart', {
    type: 'line',
    data: {
      labels: years,
      datasets: [
        {
          data: d
        },
        {
          data: d
        }
      ]
    }
  });
}
</script>