<div style="height:0;width;0" id="top">
</div>
{% extends 'base.html' %}
{% block content %}

<div class="mainTextDiv">
<h2 class="mainTextTitle">2010 Zero S Motorcycle Battery Rebuild</h2>

<img id="Img01" src="/static/2010_zero_s_battery.jpg" alt="2010 Zero S battery" style="width:100%;max-width:300px;display: block;float: none;" onclick="modalOpen('01', false)">
<div id="Modal01" class="modal">
    <span class="close" onclick="modalClose('01')">&times;</span>
    <img class="modal-content" id="img01">
</div>

<p class="mainText">We replaced the original cells of the zero battery with 7 nissan leaf modules.</p>

<img id="Img02" src="/static/2010_zero_s_battery_1.jpg" alt="2010 Zero S battery" style="width:100%;max-width:300px;display: block;float: none;" onclick="modalOpen('02', false)">
<div id="Modal02" class="modal">
    <span class="close" onclick="modalClose('02')">&times;</span>
    <img class="modal-content" id="img02">
</div>

<br>
<br>


<h2 class="mainTextTitle">2010 Zero S Motorcycle Battery Rebuild</h2>

<p class="mainText">
    The first build we did was the replacement of the original cells of the battery with 7 nissan leaf modules.
</p>

</div>

{% endblock %}